@use '../abstracts/variables';

.home {
    padding: 50px;
    min-width: 1400px;
    background: variables.$gradient-background no-repeat;
    background-size: cover;
    min-height: 100vh;
    &__logo {
        width: 90px;
        margin-bottom: 30px;

    }

    &__content {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    &__profile {
        width: 506px;
        height: 576px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 40px;

        &-user {
            display: flex;
            justify-content: space-between;

            &_wrapper {
                display: flex;
            }

            &_avatar {
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }

            &_info {
                margin-left: 30px;
                justify-content: center;
                display: flex;
                flex-direction: column;

                &-name {
                    font-size: 20px;
                }

                &-subinfo {
                    font-size: 12px;
                    color: variables.$indirect-text-color;
                    margin-top: 3px;
                }
            }

            &_exit {
                cursor: pointer;
            }
        }
    }

    &__form {
        margin-top: 5px;
        &-group {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
        }

        &-label {
            margin-bottom: 10px;
            color: variables.$indirect-text-color;
            font-size: 12px;
        }

        &-input {
            height: 40px;
            border-radius: variables.$border-radius;
            padding: 10px;
            font-size: 12px;
        }

        &-textarea {
            height: 90px;
            border-radius: variables.$border-radius;
            padding: 10px;
            line-height: 22px
        }

        &-button {
            width: 115px;
            height: 50px;
            &_container {
                margin-top: 40px;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__right {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__greetings {
        font-size: 50px;
        padding-top: 40px;
        padding-bottom: 50px;
        font-weight: bold;
        &--primary {
            color: variables.$color-primary;
            display: inline-block;
        }
    }

    &__navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 50px; 

        &-button {
            cursor: pointer;
            width: 367px;
            height: 180px;
            padding: 45px;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: variables.$plate-shadow;
            }

            &-title {
                font-weight: bold;
                margin: 10px 0;
            }

            &-subtitle {
                font-size: 12px;
                color: variables.$indirect-text-color;
            }
        }
    }
}