@use "../abstracts/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-family;
  min-height: 100vh;
  min-width: 1440px;
}

#root {
  min-height: 100vh;
}

button {
  cursor: pointer;
}

.layout {
  padding: 50px;
  min-width: 1400px;
  background: variables.$gradient-background no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.page-title {
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: variables.$color-primary;
}

// Позже перенесу
.tasks {
  height: 540px;
  padding: 30px 70px;
}

.stats {
  &-panel {
    display: flex;
    font-size: 16px;
  }

  &-item {
    margin-right: 35px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.tabs {
  margin-top: 50px;
  margin-bottom: 25px;
}

.tab {
  margin-right: 30px;
  font-size: 16px;
  color: variables.$indirect-text-color;

  &:last-child {
    margin-right: 0px;
  }
  &.active {
    font-size: 24px;
    color: variables.$color-primary;
    font-weight: bold;
  }
}

.tasks-list {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: auto;
  &:last-child {
    max-height: 270px;
  }
}

.tasks-head {
  display: flex;
}

.task-card {
  height: 50px;
  align-items: center;
  display: flex;
  border-bottom: 1px solid variables.$indirect-text-color;
}

.task {
  &-name {
    width: 330px;

    & > span {
      cursor: pointer;
    }
  }
  &-creation {
    width: 210px;
  }

  &-modal {
    width: 500px;
    min-height: 150px;

    &-name {
      margin-bottom: 10px;
    }

    &-descr {
      margin-bottom: 10px;
    }

    &-date {
      font-size: 14px;
      color: variables.$indirect-text-color;
    }

    &-interaction {
      margin-top: 30px;
    }
  }
}

.user {
  &-modal {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-avatar {
    width: 120px;
    height: 120px;
  }

  &-name {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &-additional {
    color: variables.$indirect-text-color;
    font-size: 15px;
    line-height: 20px;
  }
}

.modal {
  padding: 30px;
  display: flex;
  flex-direction: column;
  &-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
  }

  &-close {
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
}

// компонент UserPage

.user-profile {
  display: flex;
  padding: 20px;

  .user-avatar {
    width: 150px;
    height: 150px;

    & > img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .user-info {
    margin-left: 30px;

    p {
      margin-top: 10px;
    }
  }
}
