@use '../abstracts/variables';

html {
    scroll-behavior: smooth;
}

body {
    font-family: variables.$font-family;
    min-height: 100vh;
    min-width: 1440px;
}

#root {
    min-height: 100vh;
}

button {
    cursor: pointer;
}

.layout {
    padding: 50px;
    min-width: 1400px;
    background: variables.$gradient-background no-repeat;
    background-size: cover;
    min-height: 100vh;
}