// Цвета
$color-primary: #032F61; // Основной цвет (синий)
$color-primary-hover: #0653ab; // Цвет при наведении (более светлый синий)
$text-color: #333333; // Текст основной
$indirect-text-color: rgba(51, 51, 51, 0.7); // Косвенный текст
$plate-background: rgba(255, 255, 255, 0.8); // Фон подложки

// Градиенты
$gradient-background: linear-gradient(135deg, #f5f7fa, #c3cfe2); // Градиент для фона

// Шрифт
$font-family: 'Arial', sans-serif; // Основной шрифт
$font-size-base: 16px; // Базовый размер шрифта
$font-size-title: 24px; // Размер заголовка
$font-size-indirect: 14px; // Размер подзаголовка

// Тени
$plate-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); // Тень для подложки

// Радиусы
$border-radius: 15px; // Основной радиус скругления
$border-radius-small: 5px; // Малый радиус скругления
